@page
@model ResturantModel;
@{
	ViewBag.Title = "Restaurants" ;
	Layout = "~/Pages/Shared/_myLayout.cshtml";
}

	<!-- breadcrumb-section -->
	<div class="breadcrumb-section breadcrumb-bg">
		<div class="container">
			<div class="row">
				<div class="col-lg-8 offset-lg-2 text-center">
					<div class="breadcrumb-text">
						<h1>Restaurants</h1>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- end breadcrumb section -->

	<!-- latest news -->
	<div class="latest-news mt-150 mb-150">
		<div class="container">
			<div class="row">
				@foreach(var rest in Model.resturantList){
				<div class="col-lg-4 col-md-6">
					<div class="single-latest-news">
						<a><div class="latest-news-bg news-bg-1" style="background-image: url(@rest.photoAddress);"></div></a>
						<div class="news-text-box">
							<h3><a>@rest.name</a></h3>
							<p class="excerpt">Location : @rest.location</p>
							<p class="excerpt">Type : @rest.CuisineType</p>
							<hr>
							@foreach(var Review in rest.reviews){
							<p class="excerpt">@Review.userName<span style="float: right;">@Review.review || Rate :  @Review.Rate/5</span></p>}
						</div>
					</div>
				</div>
				}
			</div>

		</div>
	</div>
	<!-- end latest news -->

	<!-- footer -->
	<div class="footer-area">
		<div class="container">
			<div class="row">
				<div class="col-12">
					<div class="footer-box about-widget">
						<h2 class="widget-title">About Canada</h2>
						<p>Canada is a country in North America. Its ten provinces and three territories extend from the Atlantic Ocean to the Pacific Ocean and northward into the Arctic Ocean, making it the world's second-largest country by total area, with the world's longest coastline</p>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- end footer -->
	
	<!-- jquery -->
	<script src="assets/js/jquery-1.11.3.min.js"></script>
	<!-- bootstrap -->
	<script src="assets/bootstrap/js/bootstrap.min.js"></script>
	<!-- count down -->
	<script src="assets/js/jquery.countdown.js"></script>
	<!-- isotope -->
	<script src="assets/js/jquery.isotope-3.0.6.min.js"></script>
	<!-- waypoints -->
	<script src="assets/js/waypoints.js"></script>
	<!-- owl carousel -->
	<script src="assets/js/owl.carousel.min.js"></script>
	<!-- magnific popup -->
	<script src="assets/js/jquery.magnific-popup.min.js"></script>
	<!-- mean menu -->
	<script src="assets/js/jquery.meanmenu.min.js"></script>
	<!-- sticker js -->
	<script src="assets/js/sticker.js"></script>
	<!-- main js -->
	<script src="assets/js/main.js"></script>

